<h1>New book</h1>@book

<%= form_with model: book, local:true do |f| %>
  title<br>
  <%= f.text_field :title %><br>
  opinion<br>
  <%= f.text_field :body %><br>
  <%= f.submit "toukou" %>
<% end %>

